.header {
    min-height: 85px;
    position: relative;
    &__wrapper {
        padding: 51px 171px 0 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            position: relative;
        }
    }
   
    &__title {
        align-self: start;
        margin-top: 9px;
        color: #ffffff;
        // color: green;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 0;
    }

    &__menu {
        position: relative;
        align-self: end;
        min-width: 309px;
        // margin-right: 97px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .9s;

        &_shift {
            margin-right: 275px;
        }
      
        
        &-link {
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
        }

    }
}
