html { 
    min-height: 100%; 
    overflow: scroll;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.wrapper {
    min-height: 100%; 
    background: url('../img/bg.png') center (center/cover) no-repeat;  
}

.hide {
    display: none;
}

.active {
    display: block;
}

button, input{
    &:active, &:hover, &:focus {
        outline: 0;
        outline-offset: 0;
    }    
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: all .5s;

    &:hover {
        opacity: .5;
    }
}

button {
    cursor: pointer;
}

body {
    height: 100vh;
}

header, footer, nav, section {
    display: block;
}

#gtx-trans {
    z-index: -1 !important;
    display: none !important;
}

.content {
    padding-top: 150px;
    font-size: 26px;
    color: #FFF;
    text-align: center;
}


